<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3ioE-zeKTabKvTYCubGa4uOuUTEUUjB8</string>
	<key>GCM_SENDER_ID</key>
	<string>347834423860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvp</string>
	<key>PROJECT_ID</key>
	<string>mvpdb-8b567</string>
	<key>STORAGE_BUCKET</key>
	<string>mvpdb-8b567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347834423860:ios:3b8dab7584688de4b20861</string>
</dict>
</plist>